extends ../shared/template
block content
  h2= person.name
  a(href='/people/#{person._id}/assets/new') 
    button Add Asset
  #photo
    img(src='#{person.photo}')
  .cash $#{person.cash}
  table
    thead
      th Name
      th Photo
      th Value
      th Count
      th Total
    tbody
      each asset in person.assets
        tr
          td= asset.name
          td: img(src='#{asset.photo}')
          td $#{asset.value}


block scripts
  script(src='/js/user/home.js')

